.container {
  display: flex;
  gap: 6px;
}
.taskInput {
  width: 280px;
  border-radius:6px ;
  padding: 11px 16px;
  border: none;
  border-color: blue;
}
.taskAddButton {
  border-radius: 6px;
  color: white;
  border: none;
  width: 59px;
  height: 40px;
  background-color: rgba(60, 130, 246, 1);
}
